/* 
.hero {
  font-family: 'Fira Code', monospace;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  background: linear-gradient(135deg, var(--section-bg) 0%, var(--background-color) 100%);
}


.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-family: 'Fira Code'
}

.hero h2 {
  font-size: 2rem;
  color: var(--light-text);
  margin-bottom: 2rem;
}

.highlight {
  color: var(--primary-color);
}

.hero-description {
  font-size: 1.25rem;
  color: var(--light-text);
  margin-bottom: 3rem;
  line-height: 1.8;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 1.1rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons .btn {
    width: 100%;
    max-width: 300px;
  }
}  */